<h2>Recipes Ingredients:</h2>
  <form action="/recipes/<%=@recipe.id %>" method="POST">
    <input type="hidden" name=
    "_method" value="patch">
    
    
    <label for="name">Name</label>
    <input type="text" name="name"> value="<%= @recipe.name %>">
    <label for="ingredients">Ingredients</label>
    <input type="text" name="cooktime"> value="<%= @recipe.ingredients %>">
    <label for="cooktime">Cook Time</label>
    <input type="text" name="cooktime"> value="<%= @recipe.cook_time %>">
    
    <input type="submit" name="submit">
    
  </form>