<h2>Recipes Ingredients:</h2>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <input type="text" name="name" placeholder="name" value="<%= @recipe.name %>">
  <input type="text" name="ingredients" placeholder="ingredients" value="<%= @recipe.ingredients %>">
  <input type="text" name="cook_time" placeholder="Cook Time" value="<%= @recipe.cook_time %>">
  <input type="submit" value="edit">
</form> 