<html>
  <body>
    <form action="/recipes" action="POST">
      <label for="recipe">Recipe</label>
      <input type="text" name="recipe">
      <label for="ingredients">Ingredients</label>
      <input type="text" name="ingredients">
      <label for="cooktime">Cook Time</label>
      <input type="text" name="cooktime">
      <input type="submit" name="submit">
      
    </form>
  </body>
</html>